#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE     0
#define GRAPHITE 1
#define NAV      2
#define SYM      3
#define ADJ      4
#define G_LAYER  5
#define NUM      6
#define ORANGE   7

/ {
    behaviors {
        lp_cpy: long_press_copy {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hyper_meh: hyper_meh {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(LA(LGUI)))>, <&kp LS(LC(LALT))>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_slash_caps: td_slash_caps {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp CAPS>;
        };

        notion_callout: notion_callout {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp C>
                , <&kp A>
                , <&kp L>
                , <&kp L>
                , <&kp O>
                , <&kp U>
                , <&kp T>
                , <&kp RET>
                ;
        };

        notion_toggle: notion_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp GT>
                , <&kp SPACE>
                ;
        };

        notion_italic_blue: notion_italic_blue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp B>
                , <&kp L>
                , <&kp U>
                , <&kp E>
                , <&kp RET>
                , <&kp LG(A)>
                , <&kp LG(I)>
                ;
        };

        notion_bold_red: notion_bold_red {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp R>
                , <&kp E>
                , <&kp D>
                , <&kp RET>
                , <&kp LG(A)>
                , <&kp LG(B)>
                ;
        };

        notion_reapply_color: notion_reapply_color {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp LG(A)>
                , <&kp LG(LS(H))>
                ;
        };

        notion_bold_green: notion_bold_green {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp G>
                , <&kp R>
                , <&kp E>
                , <&kp E>
                , <&kp N>
                , <&kp RET>
                , <&kp LG(A)>
                , <&kp LG(B)>
                ;
        };

        notion_italic_orange: notion_italic_orange {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp O>
                , <&kp R>
                , <&kp A>
                , <&kp N>
                , <&kp G>
                , <&kp E>
                , <&kp RET>
                , <&kp LG(A)>
                , <&kp LG(I)>
                ;
        };

        notion_highlight_yellow: notion_highlight_yellow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp FSLH>
                , <&kp Y>
                , <&kp E>
                , <&kp L>
                , <&kp L>
                , <&kp O>
                , <&kp W>
                , <&kp SPACE>
                , <&kp B>
                , <&kp A>
                , <&kp C>
                , <&kp K>
                , <&kp G>
                , <&kp R>
                , <&kp O>
                , <&kp U>
                , <&kp N>
                , <&kp D>
                , <&kp RET>
                ;
        };

        notion_todo: notion_todo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp LBKT>
                , <&kp RBKT>
                , <&kp SPACE>
                ;
        };

        notion_heading: notion_heading {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp HASH>
                , <&kp HASH>
                , <&kp SPACE>
                ;
        };

    };

    combos {
        compatible = "zmk,combos";

        combo_esc_df {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp ESC>;
        };

        combo_esc_jk {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp ESC>;
        };

        combo_orange {
            timeout-ms = <50>;
            key-positions = <34 35>;
            layers = <BASE GRAPHITE>;
            bindings = <&mo ORANGE>;
        };

        combo_graphite_toggle {
            timeout-ms = <50>;
            key-positions = <29 32>;
            layers = <BASE GRAPHITE>;
            bindings = <&tog GRAPHITE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp TAB &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC  &kp LEFT_CONTROL  &hrm LCTRL A  &hrm LALT S  &hrm LGUI D  &hrm LSHFT F  &lt G_LAYER G  &kp H  &hrm RSHFT J  &hrm RGUI K  &hrm RALT L  &hrm RCTRL SEMI  &kp SQT  &hyper_meh  &lt NUM Z  &kp X  &lp_cpy LG(C) C  &lp_cpy LG(V) V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &td_slash_caps  &sk RSHFT  &kp LGUI  &mo NAV  &kp SPACE  &kp RET  &mo SYM  &mo ADJ
            >;
        };

        graphite {
            display-name = "GRAPHITE";
            bindings = <
&kp TAB &kp B  &kp L  &kp D  &kp W  &kp Z  &kp SQT  &kp F  &kp O  &kp U  &kp J  &kp BSPC  &kp LEFT_CONTROL  &hrm LCTRL N  &hrm LALT R  &hrm LGUI T  &hrm LSHFT S  &lt G_LAYER G  &kp Y  &hrm RSHFT H  &hrm RGUI A  &hrm RALT E  &hrm RCTRL I  &trans  &hyper_meh  &lt NUM Q  &kp X  &kp M  &lp_cpy LG(C) C  &lp_cpy LG(V) V  &kp K  &kp P  &kp COMMA  &kp DOT  &td_slash_caps  &sk RSHFT  &kp LGUI  &mo NAV  &kp SPACE  &kp RET  &mo SYM  &mo ADJ
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&kp TAB  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC  &kp KP_PLUS  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp DOT  &kp DEL  &kp KP_MINUS  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &kp LG(LEFT_ARROW)  &kp RG(RIGHT_ARROW)  &kp LA(LEFT_ARROW)  &kp RA(RIGHT_ARROW)  &trans  &kp LC(LG(N))  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC  &kp LCTRL  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE  &kp LSHFT  &trans  &trans  &trans  &kp RA(RIGHT_ARROW)  &kp LC(LA(LG(M)))  &kp PLUS  &kp UNDER  &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&kp LG(LA(ESC))  &notion_callout  &notion_italic_blue  &notion_toggle  &notion_reapply_color  &notion_bold_red  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp C_BRI_DN  &kp C_BRI_UP  &kp BSPC  &kp LCTRL  &notion_bold_green  &notion_italic_orange  &notion_highlight_yellow  &notion_todo  &notion_heading  &kp LC(LG(Q))  &kp C_VOICE_COMMAND  &kp LG(LA(LC(LS(K))))  &kp LA(SPACE)  &trans  &trans  &trans  &trans  &kp LC(LS(TAB))  &kp LG(LS(RBKT))  &kp LG(GRAVE)  &kp RA(GRAVE)  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &kp LGUI  &mo NAV  &kp SPACE  &kp RET  &mo SYM  &kp RALT
            >;
        };

        g_layer {
            display-name = "G Layer";

            // Source F-Nav compressed onto Toucan:
            //
            // Toucan top-left  = source top row:  ⇧⌘←  ↑  ↓  ⇧⌘→
            // Toucan top-right = source 2nd row:  ⇧⌥←  ⇧⌥→  ⌘⇧V(mac plain)  ⌘⌥⇧V(mac match)
            // Toucan mid-left  = row ops:         sel-row  del-row  ins-excel  ins-proj
            // Toucan mid-right = source 3rd row:  ⌥←   ⌥→   ⌃⇧V(win plain)  ⌃⌥V(win special)
            // Toucan low-right = source 4th row:  ⌘←   ⌘→

            bindings = <
&trans  &kp LS(LG(LEFT))  &kp UP  &kp DOWN  &kp LS(LG(RIGHT))  &trans  &kp LS(LA(LEFT))  &kp LS(LA(RIGHT))  &kp LG(LS(V))  &kp LG(LA(LS(V)))  &trans  &trans  &trans  &kp LS(SPACE)  &kp LC(KP_MINUS)  &kp LC(KP_PLUS)  &kp INS  &trans  &kp LA(LEFT)  &kp LA(RIGHT)  &kp LC(LS(V))  &kp LC(LA(V))  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LG(LEFT)  &kp LG(RIGHT)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        num_pad {
            display-name = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp N7  &kp N8  &kp N9  &trans  &kp BSPC  &trans  &kp LG(LA(LEFT))  &kp LG(LA(RIGHT))  &trans  &kp PG_UP  &kp LG(PLUS)  &kp PLUS  &kp N4  &kp N5  &kp N6  &trans  &trans  &trans  &trans  &trans  &trans  &kp PG_DN  &kp LG(UNDER)  &kp N0  &kp N1  &kp N2  &kp N3  &kp DOT  &trans  &trans  &trans  &trans  &kp RET  &trans  &trans
            >;
        };

        orange {
            display-name = "Orange";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR  &bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
